.maxWidthContainer {
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1.9rem;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  background: #f4f7f6;
  border-bottom: 1px solid #e6eaea;
}

.header span {
  display: block;
}

.header span:nth-of-type(1) {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.1em;
}

.header span:nth-of-type(2) {
  font-size: 1.165rem;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.main > * {
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (min-width: 710px) {
  .maxWidthContainer {
    max-width: 710px;
    padding: 0 4rem;
  }
  .header {
    padding: 1.9rem 0;
    text-align: left;
  }
  .header span {
    float: left;
  }
  .header span:last-of-type {
    clear: left;
    margin-bottom: 0;
  }
  .footer .maxWidthContainer:before {
    content: "Want to know more?";
    float: left;
    font-size: 2.4rem;
    font-weight: 600;
    color: #00a6fb;
    padding-top: 0.12em;
  }
}

@media only screen and (min-width: 1045px) {
  .maxWidthContainer {
    max-width: 1045px;
  }
  .main > * {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
